body {
    position: relative;
    width: 100;
    height: 99vh;
    margin: 0;
    display: flex;
    justify-content: center;
 }
 main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.google-logo {
    order: 1;
    margin-left: 150px;
}
.search-bar {
    width: 600px;
    height: 50px;
    border-radius: 20%
}
.buttons {
    margin-top: 30px;
    margin-left: 150px;
}
.search-button {
    height: 35px;
    width: 150px;
    background-color: hsla(0, 5%, 89%, 0.3);
    border: none;
    font-size: 15px;
}
.lucky-button {
    height: 35px;
    width: 150px;
    background-color: hsla(0, 5%, 89%, 0.3);
    border: none;
    font-size: 15px;
}
.search {
    order: 2;
    margin-bottom: 250px;
    margin-top: 20px;
}
.top-nav {
    font-size: 12px;
    padding: 20px;
}
.nav-left {
    position: absolute;
    left: 0;
    padding-left: 12px;
}
.nav-right {
    position: absolute;
    right: 0;
    padding-right: 12px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    display: inline;
    margin: 10px;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; 
    display: flex;
    justify-content: center;
    background-color: #f2f2f2
}
.foot-left {    
    position: absolute;
    left: 0;
    margin-top: 5px;
}
.foot-right {     
    position: absolute;
    right: 0;
    margin-top: 5px;
}
